---
import { Icon } from "astro-icon/components";
---
<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Sam Newbold. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="mailto:sam@newbold.nz"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Sam Newbold
    </a>
  </p>
  <div class="flex justify-center gap-6 md:gap-10 items-center mt-10">
    <a href="/#" target="_blank" rel="noopener" aria-label="Facebook">
      <Icon class="size-8 md:size-10 shrink-0" name="simple-icons:facebook" title="Facebook" />
    </a>
    <a href="/#" target="_blank" rel="noopener" aria-label="Instagram">
      <Icon class="size-8 md:size-10 shrink-0" name="simple-icons:instagram" title="Instagram" />
    </a>
    <a href="/#" target="_blank" rel="noopener" aria-label="LinkedIn">
      <Icon class="size-8 md:size-10 shrink-0" name="simple-icons:linkedin" title="LinkedIn" />
    </a>
    <a href="/#" target="_blank" rel="noopener" aria-label="Twitter">
      <Icon class="size-8 md:size-10 shrink-0" name="simple-icons:twitter" title="Twitter" />
    </a>
    <a href="/#" target="_blank" rel="noopener" aria-label="YouTube">
      <Icon class="size-8 md:size-10 shrink-0" name="simple-icons:youtube" title="YouTube" />
    </a>
  </div>
</footer>
